body {
    background-color: #05053a;
    color: #fafaff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: center;
    overflow-y: auto;
}
h1,h2,h3,h4,h5,h6,p {
    margin-block: 0.5em;
}
main {
    max-width: 960px;
    margin-inline: auto;
}
input,button {
    padding-inline: 8px;;
    padding-block: 4px;
    font-size: 18px;
}
button {
    background: #c6093b;
    color: white;
    border: none;
    border-radius: 8px;
}
.row,.col {
    gap: 8px;
    align-items: center;
    display: flex;
}
.col {
    flex-direction: column;    
}